.formMessagesVentes {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.formMessagesVentes h2 {
    text-align: center;
    margin-bottom: 30px;
}

.formMessagesVentes input[type="submit"] {
    display: block;
    margin: auto;
}

.formMessagesVentes input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#description {
    height: 150px;
}


.formMessagesVentes label {
    font-weight: bold;
}

.formMessagesVentes select,
.formMessagesVentes textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formMessagesVentes textarea {
    height: 200px;
    resize: none;
}

.error-message {
    color: red;
    font-size: 14px;
}
