* {
    margin: 0;
}

table {
    margin: auto;
    width: 80%;
    text-align: center;
}

table a {
    text-decoration: none;
}

th {
    background-color: #5791EB;
}
td {
    border: 1px solid black;
    padding: 5px;
}

.actionTd {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.prospectForm {
    width: 80%;
    margin: auto;
}

.formContainer {
    display: flex;
    margin: auto;
    gap: 5px;
    background-color: #5791EB;
    padding: 5px;
    justify-content: center;
}

.formContainer input {
    height: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.formContainer select {
    height: 20px;
}

#validateButton {
    background-color: rgb(33, 85, 255);
    border-style: none;
    border-radius: 10px;
    color: white;
}

#validateButton:hover {
    background-color: white;
    color: rgb(33, 85, 255);
}

